.tb-pressed{-fx-background-color: firebrick;}
.tb-unpressed{-fx-background-color: lightseagreen;}
.custom-btn{}
.label-info{-fx-background-color: black;}
.mainFxmlClass {-fx-background-color: lightseagreen;}
#menuBar{width: 100%;}
#AnchorPane{
   // height: 100%;
  //  width: 100%;
}
.automatico{
    -fx-background-color: darkgreen!important;
}
.manual{
    -fx-background-color: black!important;
    -fx-opacity:0.7!important;
    -fx-border-radius: 50%!important;
}
.stop{-fx-background-color: white!important;}


